    .blog{
  margin: 90px 0;
}
href{
    color: var(--primary-color);
}

.blog-header{
  text-align: center;
  max-width: 700px;
  margin: 0 auto 50px;
}

.blog-header h2{
  font-size: 40px;
  margin-bottom: 15px;
}

.blog-header p{
  color: var(--second-color);
  font-size: 16px;
}

.blog-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blog-card{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.blog-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-text{
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  width: 85%;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.blog-card-text h3{
  font-size: 18px;
  margin-bottom: 15px;
}

.blog-card-text a{
  color: var(--prymary-color);
  font-weight: 600;
  text-decoration: none;
}
    @media screen and (max-width: 320px){
  .blog{
    margin: 40px 0;
  }

  .blog-header h2{
    font-size: 28px;
  }

  .blog-header p{
    font-size: 14px;
  }

  .blog-grid{
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .blog-card-text{
    bottom: -30px;
    width: 90%;
  }
}@media screen and (max-width: 320px){
  .blog{
    margin: 40px 0;
  }

  .blog-header h2{
    font-size: 28px;
  }

  .blog-header p{
    font-size: 14px;
  }

  .blog-grid{
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .blog-card-text{
    bottom: -30px;
    width: 90%;
  }
}