.fa-brands {
  color: aliceblue;
}
.fa-solid {
  color: aliceblue;
}
.fa-brands {
  color: aliceblue;
}

.footer {
  font-size: 18px;
  background-color: #161c28;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: var(--prymary-color);
    font-size: 50px;
  }

  p {
    color: var(--second-color);
  }
  img {
    height: 50px;
  }
  .logo {
    display: flex;
  }
}
input {
width: 250px;
height: 40px;
top: 52px;
opacity: 0.2;
border-radius: 8px;
}
.footer_info {
  display: flex;
  gap: 50px;

  h3 {
    font-size: 18px;
    color: white;
  }

  li {
    color: var(--second-color);
    padding-top: 20px;
  }
}
.footer_info-links {
  color: rgb(25, 26, 26);
}

.footer_copyright {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 320px) {
  .footer_content {
    flex-direction: column;
    font-size: 13px;
    text-align: center;

    .footer_logo {
      padding-bottom: 20px;

      h1 {
        font-size: 30px;
      }
    }
    .footer_info {
      justify-content: center;
      h3 {
        font-size: 13px;
      }
    }
  }

  .footer_copyright {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 13px;
  }
}
