.rating{
  display: flex;
  align-items: center;
  margin: 90px 0 90px 0;
  background-color: #F5F7FA;
  height: 320px;
}

.rating-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rating-left{
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title{
    color:var(--prymary-color)
  }

  h2{
    font-size: 50px;
  }

  p{
    color: var(--second-color);
  }

  .ratings{
    display: flex;
    gap: 50px;
  }
}

.rating-right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  
  .rating-card{
    display: flex;
    gap: 15px;

    h3{
      font-size: 28px;
    }
    p{
      font-size: 18px;
      color: var(--second-color);
    }

    .rating-card_text{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 320px){
  .rating{
    margin: 0;
  }
    .rating-grid{
      display: flex;
      flex-direction: column;
      
      .rating-left{
        text-align: center;
        gap: 20px;
        margin-bottom: 30px;

        h2{
          font-size: 30px;
        }

        .ratings{
          flex-direction: column;
          gap: 20px;
        }
      }

      .rating-right{

        .rating-card{
          flex-direction: column;
          align-items: center;
        }

        .rating-card_text{
          text-align: center;
        }
      }
    }
}